main{
  height: 100%;
}

main .container{
  height: 100%;
}

main h2{
  text-align: center;
  text-transform: uppercase;
}

form fieldset{
  width: 300px;
  padding: 2em;
  border-radius: 10px;
}

form div{
  margin-top: 2em;
}

form label {
  /* font-family: Apple Chancery, cursive; */
  /* font-family: GoghItalic; */
  font-size: 17px;
  margin-bottom: 10px;
}

form input{
  width: 100%;
  padding: 5px;
}


input[type="submit"]{
  margin-top: 5em;

  background-color: white;

  cursor: pointer;
}
