main{
    display:flex;

}


.left{
    display:flex;
    white-space: nowrap ;
    height: 50em;
    flex-direction: column;

}

.center{
    display:flex;
    width: 30em;
    height: 50em;
    flex-direction: column;
    
}

.right{
    display:flex;
    width: 30em;
    height: 50em;
    flex-direction: column;

}

.topleft{
    min-height: 100px;

}

.centerleft{
    display:flex;
    width: 100%;
    flex:2;    
}

.bottomleft{
    display:flex;
    width: 100%;
    margin:10px;
}

.centrecenter{
    width: auto;
    height: 100px;
    margin-bottom:200px;

}

.topright{
    display:flex;
    width: auto;
    height: 300px;
    margin-top: 200px;
    
}

main button{
    width: 150px;
    border: none;
    background-color: #04AA6D;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    border-radius: 10px; 
    margin:0.5em;
    width: 300px;
    height:30px;
}

.containerboutons{
    display:flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 150px;

}

.prix{
    text-align: center;
    font-weight: bold;
    margin-top: 20px;
}


.boutonlisteenvie{
    background-color: gray !important;

}

.boutonachat:hover{
    opacity: 0.8;
}

.boutonlisteenvie:hover{
    opacity: 0.8;
}


.center{
    margin-left:50px;

}







