

#information-image{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


#information-text{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 600px;
}

#information-text div:nth-of-type(2) p{
    font-weight: bold;
}

#information-text span{
    font-weight: normal;
}

main .container{
    min-height: 600px;
}

main img{
    border: 1px solid;
    max-width: 300px;
    max-height: 600px;
}

main button{
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.right{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right div:nth-of-type(1){ /*Bouton ajouter panier/liste*/
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.right div:nth-of-type(2){
    margin-top: 2em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}