.left{
    display:flex;
    flex-direction: column;
    white-space: nowrap ;
}

.center{
    display:flex;
    flex-direction: column;
}

.topleft{
    min-height: 100px;

}

.centerleft{
    display:flex;
    width: 100%;
    flex:2;    
}

.bottomleft{
    display:flex;
    width: 100%;
    margin:10px;

}

.centrecenter{
    width: auto;
  
}

.topright{
    display:flex;
    width: auto;
    height: 300px;
    margin-top: 200px;
    
}



.containerboutons{
    display:flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 150px;

}






main button{
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.right{
    display: flex;
    flex-direction: column;
    align-self: center;
}

.right div:nth-of-type(1){ /*Bouton ajouter panier/liste*/
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.right div:nth-of-type(2){
    margin-top: 2em;
    font-size: 2em;
    font-weight: bold;
    text-align: center;
}