.title {
  display: flex;
  justify-content: center;
}

.container_login {
  display: flex;
  justify-content: center;
}


.mail > label {
  font-family: Apple Chancery, cursive;
  font-size: 20px;
}

.mdp > label {
  font-family: Apple Chancery, cursive;
  font-size: 20px;
}

.mail > input:focus {

}

.submit_button > input {
  background-color: pink;
}
