main .rows{
  display: flex;
  gap: 1em;
  margin-bottom: 2em;
}



main img{
  width: 300px;
  border: 1px solid;
}

main .info{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

  font-size: 1.5em;
}

#total{
  margin: 80px 0;
  font-size: 2em;
}

main a.btn{
  display: inline-flex;
  align-items: center;
  width: 120px;
}

main .container{
  /* position: relative; */
}

#panier{
  position: sticky;
  top: 10px;
  height: 100px;
}

#panier > div{
  padding: 20px;
  border-radius: 5px;
  border: 1px solid;
}