.title {
  display: flex;
  justify-content: center;
}

.container_sign_in {
  display: flex;
  justify-content: center;
}


.prenom > label {
  font-family: Apple Chancery, cursive;
  font-size: 20px;
}

.nom > label {
  font-family: Apple Chancery, cursive;
  font-size: 20px;
}

.mail > label {
  font-family: Apple Chancery, cursive;
  font-size: 20px;
}

.mdp > label {
  font-family: Apple Chancery, cursive;
  font-size: 20px;
}

.date_naissance > label {
  font-family: Apple Chancery, cursive;
  font-size: 20px;
}


.sign_in_button > input {
  background-color: pink;
}
