*, ::after, ::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	min-height: 100vh;
	background-color: greenyellow;

	display: flex;
	flex-direction: column;
}

.space-between{
	display: flex;
	justify-content: space-between;
}

.container{
	max-width: 1300px;
	margin: 0 auto;
}

/************************************/
/***************HEADER***************/
/************************************/

header{
	background-color: white;
	padding: 30px;
}

.search-bar{
	display: flex;
	width: 400px;
	height: 40px;

	background-color: white;
	border: 1px solid;
	border-radius: 0 10px 10px 0;
}

input[name="search-bar"]{
	height: 100%;
	width: 100%;
	padding-left: 1em;
	border: unset;
}

input[name="search-bar"]:focus{
	outline: none;
}
input[name="search-bar"]:focus ~ button{
	background: url("../images/search-icon-focus.svg") center/contain no-repeat;
}

.search-bar button{
	height: 100%;
	width: 60px;
	background: url("../images/search-icon.svg") center/contain no-repeat;

	border: unset;
	cursor: pointer;
}

/************************************/
/****************MAIN****************/
/************************************/

main {
	flex: 1;
	padding: 30px;
}

/************************************/
/***************FOOTER***************/
/************************************/

footer{
	background-color: red;
	padding: 30px;
}